<%= form_with(model: [current_user, profile], local: true) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this @profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>

  <div class="form-group">
    <div class="col rounded bg-info">
      <div class="field image">
        <label>
          <%= f.label :プロフィール画像 %>
            <div id="img_field">
              <% if profile.image.present? %>
                <%= image_tag profile.image.variant(combine_options:{resize:"80x80^",crop:"80x80+0+0",gravity: :center}).processed, class:"rounded-circle" %>
              <% else %>
                <i class="fas fa-file-image"></i>
              <% end %>
            </div>
          <div class="row btn btn-link">
            <%= f.file_field :image, class:"image", style:"display:none", id: "file" %>
          </div>
        </label>
      </div>
    </div>
    <br>
    <div class="col rounded bg-info">
      <div class="field">
        <%= f.label :自己紹介 %>
        <%= f.text_area :self_introduction, class: "form-control-plaintext text-white" %>
      </div>
    </div>
    <br>
    <div class="col rounded bg-info">
      <div class="field">
        <%= f.label :居住地 %>
        <%= f.text_field :live_in, class: "form-control-plaintext text-white" %>
      </div>
    </div>
    <br>
    <div class="col rounded bg-info">
      <div class="field">
        <%= f.label :"誕生日" %>
        <%= f.text_field :birthday, :placeholder => "0000-00-00", class: "form-control-plaintext text-white" %>
      </div>
    </div>
    <br>
    <div class="actions">
      <%= f.submit("登録", class: "btn btn-primary") %>
    </div>
  </div>
<% end %>
