<div class="row align-items-center">
  <div class="col-1">
    <div class="h3 font-weight-bold">
      <%= link_to "←", session[:path_back_from_profile] %>
    </div>
  </div>
  <div class="col-5 h3">
    <%= @user.name %>
  </div>
</div>
<div class="row align-items-end">
  <div class="col-3">
    <% if @profile.image.present? %>
      <%= image_tag @profile.image.variant(combine_options:{resize:"80x80^",crop:"80x80+0+0",gravity: :center}).processed, class:"rounded-circle" %>
    <% else %>
      <i class="fas fa-user-circle fa-5x" style="color: silver"></i>
    <% end %>
  </div>
  <% if @user.id == current_user.id %>
    <div class="col-6">
      <div>
        <%= link_to 'プロフィール編集', edit_profile_path(current_user), class:"btn btn-sm btn-outline-primary" %>
      </div>
    </div>
    <div class="col-3">
      <div>
        <%= link_to 'Replies', tweet_replies_path(current_user), class:"btn btn-sm btn-outline-primary" %>
      </div>
    </div>
  <% else %>
    <% if current_user.following?(@user) %>
      <div>
        <%= link_to 'フォローを外す', unfollow_path(@user.id), method: :POST, class: "btn btn-sm btn-outline-primary" %>
      </div>
    <% else %>
      <div>
        <%= link_to 'フォローする', follow_path(@user.id), method: :POST, class: "btn btn-sm btn-primary text-info" %>
      </div>
    <% end %>
  <% end %>
</div>
<br>
<div class="row">
  <div class="col">
    <%= simple_format(@profile.self_introduction) %>
  </div>
</div>
<div class="row">
  <div class="col-5">
    フォロー数:
  </div>
  <div class="col-1">
    <%= @user.follower.count %>
  </div>
  <div class="col-6">
    <%= link_to "内訳", followindex_path(@user.id) %>
  </div>
</div>
<div class="row">
  <div class="col-5">
    フォロワー数:
  </div>
  <div class="col-1">
    <%= @user.followed.count %>
  </div>
  <div class="col-6">
    <%= link_to "内訳", followerindex_path(@user.id) %>
  </div>
</div>
<div class="row">
  <div class="col-5">
    誕生日:
  </div>
  <div class="col-7">
    <%= l @profile.birthday, format: :default %>
  </div>
</div>
<div class="row">
  <div class="col-5">
    居住地:
  </div>
  <div class="col-7">
  <%= @profile.live_in %>
  </div>
</div>
<div class="row">
  <div class="col-5">
    登録日:
  </div>
  <div class="col-7">
    <%= l @profile.created_at, format: :date_only %>
  </div>
</div>
<div class="row border-top border-bottom border-secondary">
  <div class="col">
    Tweets
  </div>
</div>
<%= render @tweets %>
