<h1>My Account</h1>

<p>
  <strong>プロフィール画像（後で実装）</strong>
  <strong><%= current_user.name %></strong>
</p>

<p>
  <strong>Self introduction:</strong>
  <%= @profile.self_introduction %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profile.birthday %>
</p>

<p>
  <strong>Live in:</strong>
  <%= @profile.live_in %>
</p>

<%= link_to 'Edit Account', edit_profile_path(current_user) %>

<br>
<br>

<strong><%= link_to 'My Tweets', tweets_path(current_user) %></strong>
<strong><%= link_to 'My replies', tweet_replies_path(current_user) %></strong>