<div class="row align-items-center">
  <div class="col-1">
  <div class="h3 font-weight-bold">
      <%= link_to "←", root_path %>
    </div>
  </div>
  <div class="col-11 h3">
    <%= current_user.name %>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <%= image_tag @profile.image.url %>
  </div>
  <div class="col-9">
    <div class="row">
      <button type="button" class="btn btn-sm btn-outline-primary">
        <%= link_to 'プロフィール編集', edit_profile_path(current_user) %>
      </button>
    </div>
    <br>
    <div class="row h5">
      <div class="col">
        <%= link_to 'Tweets', tweets_path(current_user) %>
      </div>
      <div class="col">
        <%= link_to 'Replies', tweet_replies_path(current_user) %>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col">
    <%= simple_format(@profile.self_introduction) %>
  </div>
</div>

<div class="row">
  <div class="col-3 font-weight-bold">
    誕生日:
  </div>
  <div class="col-9">
    <%= l @profile.birthday, format: :default %>
  </div>
</div>

<div class="row">
  <div class="col-3 font-weight-bold">
    居住地:
  </div>
  <div class="col-9">
  <%= @profile.live_in %>
  </div>
</div>

<div class="row text-secondary">
  <div class="col-3">
    登録日:
  </div>
  <div class="col-9">
    <%= l @profile.created_at, format: :date_only %>
  </div>
</div>