<%= form_with(model: [@tweet, reply]) do |f| %>
  <% if reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
        <% reply.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row border-bottom border-secondary align-items-center">
    <div class="col-3">
      <%= image_tag current_user.profile.image.variant(combine_options:{resize:"80x80^",crop:"80x80+0+0",gravity: :center}).processed, class:"rounded-circle" %>
    </div>
    <div class="col-6">
      <%= f.text_area :comment, placeholder: "Replyを入力", class: "form-control-plaintext text-white"%>
    </div>
    <div class="col-3">
      <%= f.submit("Reply", class: "btn btn-sm btn-primary") %>
    </div>
  </div>

<% end %>
