<%= form_with(model: [tweet, reply], url: tweet_replies_path, local: true) do |form| %>
  <% if reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
        <% reply.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :user_name %>
  <%= form.hidden_field :tweet_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
