<%= form_with(model: [@tweet, reply]) do |f| %>
  <% if reply.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% reply.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row border-top border-secondary align-items-center py-2">
    <div class="col-1 col-sm-1">
      <i class="fas fa-reply"></i>
    </div>
    <%= render 'profiles/image', profile: current_user.profile %>
    <div class="col-4 col-sm-6">
      <%= f.text_area :comment, placeholder: "コメントを入力", class: "form-control-plaintext text-white"%>
			<div id="error_explanation"></div>
    </div>
    <div class="col-2 col-sm-2">
      <%= f.submit("投稿", class: "btn btn-sm btn-primary px-1") %>
    </div>
  </div>

<% end %>