<h1>My Replies</h1>

<p id="notice"><%= notice %></p>

<tbody>
  <% @replies.each do |reply| %>
    <% tweet = Tweet.find(reply.tweet_id) %>
    <p>
      <%= tweet.user.name %>
      <%= tweet.content %>
    </p>
    <p>
      <%= reply.user.name %>
      <%= reply.comment %>
      <%= link_to "Edit", edit_tweet_reply_path(tweet, reply) %>
      <%= link_to 'Destroy', tweet_reply_path(tweet, reply), method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
    <br>
  <% end %>
</tbody>