<%= form_with(model: tweet) do |f| %>
	<% if tweet.errors.any? %>
		<div id="errors_explanation" >
			<h2> <%= pluralize(tweet.errors.count, "error") %> prohibited this book from being saved: </h2>

			<ul>
				<%= tweet.errors.full_messages.each do |message| %>
					<li> <%= message %> <li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="row border-bottom border-secondary align-items-center">
		<div class="col-3">
			<%= image_tag current_user.profile.image.variant(resize_to_fill:[80,80]).processed, class:"rounded-circle" %>
		</div>
		<div class="col-6">
			<%= f.text_area :content, placeholder: "つぶやいてみよう！", class: "form-control-plaintext text-white"%>
		</div>
		<div class="col-3">
			<%= f.submit("Tweet", class: "btn btn-sm btn-primary") %>
		</div>
	</div>
<% end %>