<%= form_with(model: tweet, id: "tweet_form") do |form| %>
	<% if tweet.errors.any? %>
		<div id="errors_explanation" >
			<h2> <%= pluralize(tweet.errors.count, "error") %> prohibited this book from being saved: </h2>

			<ul>
				<%= tweet.errors.full_messages.each do |message| %>
					<li> <%= message %> <li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= form.label :content, "New Tweet" %>
		<%= form.text_area :content %>
	</div>

	<%= form.hidden_field :user_id %>
	
	<div class="actions">
		<%= form.submit "OK" %>
	</div>
<% end %>