<div class="row border-top border-secondary align-items-center py-2">
  <% if tweet.user_id == current_user.id %>
    <%= render 'profiles/image', profile: Profile.find_by(user: tweet.user) %>
    <div class="col-5 col-sm-7">
      <div class="row">
        <%= User.find(tweet.user_id).name %>
      </div>
      <div>
        <%= safe_join(tweet.content.split("\n"), tag(:br)) %>
      </div>
      <div class="text-secondary">
        <%= l tweet.created_at, format: :short %>
      </div>
    </div>
    <div class="col-3 col-sm-2">
      <div class="row">
        <div class="col  text-center">
          <%= link_to "詳細", tweet_path(tweet)%>
        </div>
      </div>
      <div class="row">
        <div class="col  text-center">
          <%= link_to '削除', tweet, method: :delete, data: { confirm: '本当に削除しますか？' } %>
        </div>
      </div>
    </div>
  <% else %>
    <%= render 'profiles/image', profile: Profile.find_by(user: tweet.user) %>
    <div class="col-8 col-sm-9">
      <div class="row">
        <%= User.find(tweet.user_id).name %>
      </div>
      <div>
        <%= safe_join(tweet.content.split("\n"), tag(:br)) %>
      </div>
      <div class="text-secondary">
        <%= l tweet.created_at, format: :short %>
      </div>
    </div>
  <% end %>
</div>