<div class="row border-bottom border-secondary align-items-center">
  <div class="col-3">
    <%= image_tag Profile.find_by(user_id: tweet.user_id).image.url %>
  </div>
  <div class="col-7">
    <div class="row">
      <%= User.find(tweet.user_id).name %>
    </div>
    <div>
      <%= safe_join(tweet.content.split("\n"), tag(:br)) %>
    </div>
    <div class="text-secondary">
      <%= l tweet.created_at, format: :short %>
    </div>
  </div>
  <% if tweet.user_id == current_user.id %>
    <div class="col-2">
      <div class="row">
        <div class="col  text-center">
          <%= link_to "詳細", tweet_path(tweet)%>
        </div>
      </div>
      <div class="row">
        <div class="col  text-center">
          <%= link_to '削除', tweet, method: :delete, data: { confirm: '本当に削除しますか？' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>