<h1>Twetter</h1>

<% if user_signed_in? %>
    <h4> name: <%= current_user.name %> </h4>
    <h4> mail: <%= current_user.email %> </h4>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<% else %>
    <h2> 現在ログインしていません </h2>
    <%= link_to "Sign in", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
    <%= link_to "Sign up", new_user_registration_path, class: 'post' %> <!--新規登録画面に移行する -->
<% end %>