<h1>My Tweets</h1>

<p id="notice"><%= notice %></p>

<% if user_signed_in? %>

	<h3><%= link_to "New Tweet", new_tweet_path %></h3>

	<tbody>
		<% @tweets.each do |tweet| %>
			<p>
			<%= tweet.user.name %>
			<%= tweet.content %>
			<%= link_to "Show", tweet_path(tweet) %>
			<%= link_to "Edit", edit_tweet_path(tweet) %>
			<td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</p>
		<% end %>
	</tbody>

<% else %>
	<h4> <%= link_to "Sign in", new_user_session_path, class: 'post' %> </h4>
	<h4> <%= link_to "Sign up", new_user_registration_path, class: 'post' %> </h4>
<% end %>