<h1>My Tweets</h1>

<p id="notice"><%= notice %></p>

<% if user_signed_in? %>

<%= render partial: 'form', locals: {tweet: @tweet} %>

<p id="tweets">
<%= render @tweets %>
</p>

<% else %>
	<h4> <%= link_to "Sign in", new_user_session_path, class: 'post' %> </h4>
	<h4> <%= link_to "Sign up", new_user_registration_path, class: 'post' %> </h4>
<% end %>