<h1>Time Line</h1>

<p id="notice"><%= notice %></p>

<% if user_signed_in? %>

	<h3><%= link_to "New Tweet", new_tweet_path %></h3>

	<table border="1">
		<tbody>
			<% @tweets.each do |tweet| %>
				<tr align="left">
					<th width="20%"><%= tweet.user.name %></th>
					<th width="70%"><%= tweet.content %></th>
					<th width="10%"><%= link_to "Show", tweet_path(tweet) %></th>
			<% end %>
		</tbody>
	</table>

<% else %>
	<h4> <%= link_to "Sign in", new_user_session_path, class: 'post' %> </h4>
	<h4> <%= link_to "Sign up", new_user_registration_path, class: 'post' %> </h4>
<% end %>