<h1>Twetter</h1>

<p id="notice"><%= notice %></p> <!-- 10.1.1 id属性に"notice"という名前をつけている -->

<% if user_signed_in? %>

    <table> <!-- table要素を使い、ページを表で構成 -->
        <thead>
            <tr>
                <th colspan="3"></th> <!-- テーブルに見立て、3つ分のセルを結合している -->
            </tr>
        </thead>

        <tbody>
            <% @tweets.each do |tweet| %>
                <tr>
                    <td><%= tweet.content %></td>
                    <td><%= tweet.user_name %></td>
                    <td><%= tweet.user_id %></td>
                    <td><%= link_to "Show", tweet %></td> <!-- book_path(book)の略? -->
                    <td><%= link_to "Edit", edit_tweet_path(tweet) %></td>
                    <td><%= link_to "Destroy", tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td> <!-- 10.4.2 link_toの:methodオプション（HTTPメソッドとして:deleteを指定）と:dataオプション -->
                </tr>
            <% end %>
        </tbody>
    </table>

    <br> <!-- 改行 -->

    <%= link_to "New Tweet", new_tweet_path %>

    <p> name: <%= current_user.name %> </p>
    <p> mail: <%= current_user.email %> </p>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<% else %>
    <h4> <%= link_to "Sign in", new_user_session_path, class: 'post' %> </h4> <!-- ログイン画面に移行する -->
    <h4> <%= link_to "Sign up", new_user_registration_path, class: 'post' %> </h4> <!--新規登録画面に移行する -->
<% end %>