<div class="row align-items-center border-top border-bottom border-secondary">
  <div class="col-1">
	  <div class="h3 font-weight-bold">
      <%= link_to "â†", :back %>
    </div>
  </div>
  <div class="col-11 h3">
    Tweet
  </div>
</div>

<div class="row border-bottom border-secondary align-items-center">
  <div class="col-3">
    <%= image_tag Profile.find_by(user_id: @tweet.user.id).image.variant(combine_options:{resize:"80x80^",crop:"80x80+0+0",gravity: :center}).processed, class:"rounded-circle" %>
  </div>
  <div class="col-9">
    <div class="row">
      <%= @tweet.user.name %>
    </div>
    <div>
    <%= safe_join(@tweet.content.split("\n"), tag(:br)) %>
		</div>
    <div class="text-secondary">
      <%= l @tweet.created_at, format: :short %>
    </div>
	</div>
</div>

<%= render partial: 'replies/form', locals: {reply: @reply} %>

<div id="replies">
	<%= render partial: 'replies/reply', collection: @replies, as: 'reply' %>
</div>
