<div class="row align-items-center py-1">
  <div class="col-2 col-sm-1">
	  <div class="h3 font-weight-bold">
      <%= link_to "â†", session[:path_back_from_tweet] %>
    </div>
  </div>
  <div class="col-10 col-sm-11 h3">
    Tweet
  </div>
</div>
<div class="row align-items-center py-2">
  <%= render 'profiles/image', profile: Profile.find_by(user: @tweet.user) %>
  <div class="col-8 col-sm-9">
    <div class="row">
      <%= @tweet.user.name %>
    </div>
    <div>
    <%= safe_join(@tweet.content.split("\n"), tag(:br)) %>
		</div>
    <div class="text-secondary">
      <%= l @tweet.created_at, format: :short %>
    </div>
	</div>
</div>
<%= render partial: 'replies/form', locals: {reply: @reply} %>
<div id="replies">
	<%= render partial: 'replies/reply', collection: @replies, as: 'reply' %>
</div>
