<p id="notice"><%= notice %></p> <!-- 10.1.1 id属性に"notice"という名前をつけている -->

<p>
	<strong><%= @tweet.user.name %></strong>
	<%= @tweet.content %>
	<%= link_to "reply", new_tweet_reply_path(@tweet) %>
</p>

<% @replies.each do |reply| %>
	<p>
		<%= User.find(reply.user_id).name %>
		<%= reply.comment %>
	</p>
<% end %>