<div class="row align-items-center">
  <div class="col-1">
    <div class="h3 font-weight-bold">
      <%= link_to "←", user_profile_path(@user, @user.profile) %>
    </div>
  </div>
  <div class="col-11 h5">
    <%= @user.name %>がフォローしているユーザ
  </div>
</div>
<% @user.following_user.each do |user| %>
  <div class="row border-bottom border-secondary align-items-center">
    <div class="col-4">
      <% if user.profile.image.present? %>
        <%= image_tag user.profile.image.variant(resize_to_fill:[80,80]).processed, class:"rounded-circle" %>
        <%= link_to "", user_profile_path(user, user.profile), class:"stretched-link" %>
      <% else %>
        <i class="fas fa-user-circle fa-5x" style="color: silver"></i>
        <%= link_to "", user_profile_path(user, user.profile), class:"stretched-link" %>
      <% end %>
    </div>
    <div class="col-8 h5">
      <div class="row">
        <%= user.name %>
      </div>
      <div class="row">
        <% if @user == current_user %>
          <div>
            <%= link_to 'フォローを外す', unfollow_path(user), method: :POST, class: "btn btn-sm btn-outline-primary" %>
          </div>
        <% else %>
          <div>
            <%= link_to 'フォローする', follow_path(user), method: :POST, class: "btn btn-sm btn-primary text-info" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>