<div class="row align-items-center">
  <div class="col-1">
    <div class="h3 font-weight-bold">
      <%= link_to "←", root_path %>
    </div>
  </div>
  <div class="col-11 h3">
    ユーザー一覧
  </div>
</div>
<% User.all.where.not(id: current_user.id).each do |user| %>
  <div class="row border-bottom border-secondary align-items-center">
    <div class="col-4">
      <% if user.profile.image.present? %>
        <%= image_tag user.profile.image.variant(combine_options:{resize:"80x80^",crop:"80x80+0+0",gravity: :center}).processed, class:"rounded-circle" %>
        <%= link_to "", profile_path(id: user.id), class:"stretched-link" %>
      <% else %>
        <i class="fas fa-user-circle fa-5x" style="color: silver"></i>
        <%= link_to "", profile_path(id: user.id), class:"stretched-link" %>
      <% end %>
    </div>
    <div class="col-8 h5">
      <div class="row">
        <%= user.name %>
      </div>
      <div class="row">
        <% if current_user.following?(user) %>
          <div>
            <%= link_to 'フォローを外す', unfollow_path(user.id), method: :POST, class: "btn btn-sm btn-outline-primary" %>
          </div>
        <% else %>
          <div>
            <%= link_to 'フォローする', follow_path(user.id), method: :POST, class: "btn btn-sm btn-primary text-info" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>