<div class="row h3">
  パスワード再設定
</div>

<br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">

    <div class="col rounded bg-info">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control-plaintext text-white"  %>
      </div>
    </div>

    <br>

    <div class="row align-items-center justify-content-between">
      <div class="col-8">
        <%= render "devise/shared/links" %>
      </div>
      <div class="col-4">
        <div class="actions">
          <%= f.submit("送信", class: "btn btn-primary") %>
        </div>
      </div>
    </div>
  </div>
<% end %>
