<%= form_with(model: tweet, url: timelines_path) do |f| %>
	<% if tweet.errors.any? %>
		<div id="errors_explanation" >
			<h2> <%= pluralize(tweet.errors.count, "error") %> prohibited this book from being saved: </h2>

			<ul>
				<%= tweet.errors.full_messages.each do |message| %>
					<li> <%= message %> <li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="row border-bottom border-secondary align-items-center">
		<div class="col-3">
			<%= image_tag current_user.profile.image.url %>
			<%= link_to "", profile_path(id: current_user.id), class:"stretched-link" %>
		</div>
		<div class="col-6 col-md-7">
			<%= f.text_area :content, size: "200×100", placeholder: "今日何があった？", class: "form-control-plaintext text-white"%>
		</div>
		<div class="col-3 col-md-2">
			<%= f.submit("Tweet", class: "btn btn-sm btn-primary") %>
		</div>
	</div>

<% end %>
