<div class="row border-top border-secondary align-items-center py-2">
  <div class="col-3">
    <% if tweet.user.profile.image.present? %>
      <%= image_tag tweet.user.profile.image.variant(resize_to_fill:[80,80]).processed, class:"rounded-circle" %>
      <%= link_to "", user_profile_path(tweet.user.id, tweet.user.profile.id), class:"stretched-link" %>
    <% else %>
      <i class="fas fa-user-circle fa-5x" style="color: silver"></i>
      <%= link_to "", user_profile_path(tweet.user.id, tweet.user.profile.id), class:"stretched-link" %>
    <% end %>
  </div>
  <div class="col-7">
    <div class="row">
      <%= tweet.user.name %>
    </div>
    <div>
      <%= safe_join(tweet.content.split("\n"), tag(:br)) %>
    </div>
    <div>
      <%= link_to "", tweet_path(tweet), class:"stretched-link" %>
    </div>
    <div class="text-secondary">
      <%= l tweet.created_at, format: :short %>
    </div>
  </div>
  <div class="col-2 h4 align-self-end">
    <%= link_to "💬", tweet_path(tweet)%>
  </div>
</div>