<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark">
    <div class="container text-light">
      <div class="row">
        <div class="col-2 col-lg-1 text-center h3 fixed-top" style="height: 100%">
          <div>
            <%= link_to root_path, style: "color: white", class:"btn btn-dark btn-lg" do %>
              <i class="fab fa-twitter"></i>
            <% end %>
          </div>
          <div>
            <%= link_to root_path, style: "color: white", class:"btn btn-dark btn-lg" do %>
              <i class="fas fa-home"></i>
            <% end %>
          </div>
          <div>
            <%= link_to user_profile_path(current_user, current_user.profile), style:"color: white", class:"btn btn-dark btn-lg" do %>
              <i class="fas fa-user"></i>
            <% end %>
          </div>
          <div>
            <%= link_to users_path, style:"color: white", class:"btn btn-dark btn-lg" do %>
              <i class="fas fa-users"></i>
            <% end %>
          </div>
          <div>
            <%= link_to destroy_user_session_path, method: :delete, style:"color: white", class:"btn btn-dark btn-lg" do %>
              <i class="fas fa-sign-out-alt"></i>
            <% end %>
          </div>
        </div>
        <div class="col-2 col-lg-1">
        </div>
        <div class="col-9 col-lg-10 border-left border-right border-secondary">
          <% if notice %>
            <div id="notice">
          　　<p><%= notice %></p>
            </div>
          <% end %>
          <% if alert %>
            <p><%= alert %></p>
          <% end %>
          <div>
            <%= yield %>
          </div>
          </div>
        <div class="col-1 col-lg-1">
          <div class="row">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>