<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container bg-dark text-light">
      <div class="row justify-content-center">
        <div class="col-8 col-md-6">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
