<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark">
    <div class="container text-light">
      <div class="row justify-content-center">
        <div class="col-8 col-md-6">
          <% if notice %>
            <div id="notice" class="notice">
          　　<%= notice %>
            </div>
          <% end %>
          <% if alert %>
            <div id="alert" class="alert">
              <%= alert %>
            </div>
          <% end %>
          <div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>